/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background: rgb(246, 255, 197);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:800px;
    height:40px;
}