*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    background:url(../assets/aroma.jpg)center/cover;
    /* width: 400px;
    height: 80px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
