*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root{
    --link-bg-color: rgb(234, 255, 231);
    --link-active: grey;
    /* --link-bg-nav:#222497; */
    --link-bg-nav:#efeff1;

}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    background: var(--link-bg-nav);

}

.navigation a{
    text-decoration: none;
    cursor: pointer;
    
}

.navigation a:hover{
    color:rgb(50, 236, 33);
    font-weight: 600;

}
.navigation-left{
    background: var(--link-bg-nav);
    color: red;
    text-align: center;

}
.navigation-left h3{
    margin-bottom: 20px;

}
.navigation-left ul{
    list-style-type: none;

}
.navigation-left a{
    text-decoration: none;
    color:grey;
}
.navigation-left a:hover{
    font-weight: 600;

}
.navigation-right{
    background: var(--link-bg-nav);
    text-align: center;
    
}
.navigation-right ul{
    list-style-type:none;
    color:blue;
   
}
.navigation-right a{
    text-decoration: none;
    color:grey;
    
    
}
.navigation-right a:hover{
    font-weight: 600;
    
}
